.bgPresentation{
    background: url(../asset/home.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bgPresentation{
    background: url(../asset/home.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.buscador input{
    width: 70%;
    border-radius: 10px;
}
.buscador input::placeholder{
    color: white !important;
}
.menu{
    border-radius: 10px;
    height: 450px;
}
.logoBox{
    width: 200px;
    height: 200px;
}



