#botones{
    margin-top: 1rem;
    margin-left: 2rem;
    align-items: center;
   justify-content: space-between;

   width: 20%;
   height: 20%;
}

.cards{
    display: flex;
    flex-direction: row;
}
.btnMod{
    width: 50%;
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    cursor: pointer;
}
.btnMod:hover{
    background-color: #77dd77;

}
.btnElim{
    width: 50%;
    display: flex;
    justify-content: center;
    cursor: pointer;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.btnElim:hover{
    background-color: #ff6961;
}

#contenedorGeneral{
    display: flex;
    justify-content: center;
    width: 100%;
    
  
    height: 28rem;
    overflow: auto;
}

#contT{ height: 100rem ;}