body{
    width: 100%;
    height: 100%;
}
#contenedorP{
    position: relative;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-bottom: 2rem;
    
}

.pedidosI{
    display: flex;
    justify-content: center;
    align-items: center;
 
}
.pedidosI:hover{
    background-color: #ff6961;
}
.pedidosI img{
    cursor: pointer;
    width: 45%;
}
.contenedorGeneral{
  
    width: 100%;
    max-width: 870px;

    height: 20rem;
    overflow: auto;


}

.contenedor{
    /* width: 70%; */
    background-color: rgba(13, 14, 13, 0.322);
}
.dPedidos{
    /* width: 70%; */
    border: 2px solid rgba(0, 0, 0, 0.788);
   
 
}
.menusP p{
    height: 2rem;
    font-size: 0.8rem;
    overflow: hidden;
    
}
.colEntrega{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.pedidosB p{
    margin-right: 1rem;
    
    text-align: center;
}

.col h5{
    text-align: center;
}
.tituloP{
    display: flex;
    justify-content: center;
    width: 40%;
    position: relative;
    left: 3rem;
}




.headPedido{
    display: flex;
    justify-content: center;
}
.borrarU img{
    width: 45%;

}
#divEstado img{
    width: 30%;
}

.editar{
    display: flex;
    justify-content: center;
    align-items: center;
 
}
.editar img{
    cursor: pointer;
    width: 50%;
}
.editar:hover{
    background-color: #77dd77;
}
.headUsuario{
    display: flex;
    justify-content: center;
    flex-direction: column;
   
}
#btnVolver{
    margin-top: 2rem;
    width: 10%;
}


/* #contenedorPost::-webkit-scrollbar{
    width: 7px;
}
#contenedorPost::-webkit-scrollbar-thumb{
    background-color: #77dd77;
} */