.logo img{
    width: 100px;
    height: 100px; 
 }
.form-control{
    background-color: transparent !important;
}
.form-control::placeholder{
    color: black !important;
}
.card-body hr{
    height: 2px !important;
    background-color: black !important;
} 
