body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.boxContainer{
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.btnGral{
  background-color: #FFD600;
  border: none;
  border-radius: 10px;
}
.loading{
  width: 200px;
  height: 200px;
}
.logo{
  width: 100px;
  height: 100px;
}
.sombra{ 
box-shadow: 0px 4px 9px 0px rgba(255,255,255,0.5);
}